@import "../../styles/variable.scss";
.TransactionTableStyle {
  &_row {
    display: flex;
    align-items: center;
    .imageIcon {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
    }
    .transactionLabel {
      font-size: 14px;
      font-weight: 800;
      line-height: 21px;
      letter-spacing: 0.2px;
    }
    .dateLabel {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.2px;
    }
    .amountLabel {
      font-size: 14px;
      font-weight: 800;
      line-height: 21px;
      letter-spacing: 0.2px;
    }
    .statusLabelWrapper {
      display: flex;
      justify-content: end;
      .statusLabel {
        display: flex;
        width: 80px;
        height: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        text-align: right;
        border-radius: 8px;
        // gap: 4px;
        // flex-shrink: 0;
        &_success {
          background: $grey-color-F6;
          color: $green-22;
        }
        &_pending {
          background: $white-color-FF;
          color: $orange-color-FF;
        }
      }
    }
    .dateColumn {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .subRow {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #edf2f7;
      padding-bottom: 8px;
    }
  }
}
