@import "./variable.scss";
.LayoutWrapper {
  display: flex;
  .contentWrapper {
    width: 100%;
    padding: 40px;
    .content {
      margin-top: 40px;
    }
  }
}

// Sider Style
.ant-menu {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: $grey-color;
  .ant-menu-item-selected {
    font-weight: 800;
    background-color: $primary-color;
    color: $white-color;
  }
}

h1 {
  font-size: 24px;
  font-weight: 800;
}
