$border-color: #e2e8f0;
$primary-color: #194bfb;
$white-color: #fff;
$grey-color: #718096;
$grey-color-FA: #fafafa;
$grey-color-ED: #edf2f7;
$grey-color-1A: #1a202c;
$grey-color-F7: #f7fafc;
$green-22: #22c55e;
$grey-color-F6: #f6fdf9;
$orange-color-FF: #ff784b;
$white-color-FF: #fff7f5;
$orange-color-FD: #fdf2e9;
$blue-color-A7: #a7c7e7;
$purple-color-E8: #e8edff;
$purple-color-F7: #f7f5ff;
$purple-color-93: #936dff;
$yellow-color-FF: #fffcf0;
$yellow-color-FA: #facc15;
$grey-color-A0: #a0aec0;
