@import "../../styles/variable.scss";
.SidebarStyle {
  position: relative;
  background-color: $grey-color-FA;
  padding: 0 24px;
  .HeaderLogo {
    border-bottom: 1px solid $border-color;
    img {
      padding: 44px 0 32px 12px;
    }
  }
  .SiderStyle {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ant-menu {
      background-color: $grey-color-FA;
      margin-bottom: 35px;
    }
    .ant-menu-item-selected {
      .ant-menu-item-icon {
        path {
          stroke: $white-color;
        }
      }
    }
    .ant-menu-item-icon {
      path {
        stroke: $grey-color;
      }
    }
    .bottomMenu {
      position: absolute;
      bottom: 40px;
    }
    .menuOptions {
    }
  }
}
